interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://music.youtube.com/
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\" dir=\"ltr\" dark=\"true\"><head><script
        nonce=\"AcuqBxe8Ozj5ikhyd75C2g\">window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({'country_code': 'US', 'gtm.start': new Date().getTime(),
        event: 'gtm.js'});</script><script async src=\"https://www.googletagmanager.com/gtm.js?id=GTM-NQNFS9\"
        nonce=\"AcuqBxe8Ozj5ikhyd75C2g\"></script><script nonce=\"AcuqBxe8Ozj5ikhyd75C2g\">var
        ytcsi={gt:function(n){n=(n||\"\")+\"data_\";return ytcsi[n]||(ytcsi[n]={tick:{},info:{},gel:{preLoggedGelInfos:[]}})},now:window.performance&&window.performance.timing&&window.performance.now&&window.performance.timing.navigationStart?function(){return
        window.performance.timing.navigationStart+window.performance.now()}:[...]
- request:
    body: '{"query": "GB2LD2210007", "context": {"client": {"clientName": "WEB_REMIX",
      "clientVersion": "1.20260923.01.00", "hl": "de"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - CgtoY0dtblE2MUI0WSjVp83VBjIKCgJVUxIEGgAgHGLfAgrcAjIxLllUPXFXTEs0cDB3VXhKMFl4cEpVWFhmZjVtOFJzV09hTjhlUjdNMV9ESHpkZVFXY3p6ZEltbFNIVjVxTVZyTmVYcUtEaWF5bTNPYVF3UjdqbWdiVnNSdnk0U2ZnMUF2QTdNdU04T2Z4RkRaOWtkeWhQR0hpMDlpVUxNcHpSbl9pS054LVBKN3BKajhUc0RSRVV0emZGdzJrUS1hWnAzVTBQT2p3Q2hVYm44OEV5NXd4Z1RYM0JmRmpnRVF1Q1BIdmk2d1pJQ19iN3B0Wll0NWdBMk91dERLODVQNlFtOGpvMlFzbGZQaHo4TjQyNUlyUmRteHZKRmhUZlF2amlzb2F4aTN1M0p6OWI3alVBUjFHYUtzcFM5eThoMGgyeFUxckNidWt6LVVMLW5TaE9LZ05tSVhkVkNJWE1WRlBWU2pfWWxsb0ViWHRmRGFLZkQ2RVR4UFprZlVkdw%3D%3D
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/search?alt=json
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"serviceTrackingParams\": [\n      {\n
        \       \"service\": \"CSI\",\n        \"params\": [\n          {\n            \"key\":
        \"c\",\n            \"value\": \"WEB_REMIX\"\n          },\n          {\n
        \           \"key\": \"cver\",\n            \"value\": \"1.20260923.01.00\"\n
        \         },\n          {\n            \"key\": \"yt_li\",\n            \"value\":
        \"0\"\n          },\n          {\n            \"key\": \"GetSearch_rid\",\n
        \           \"value\": \"0xe8869dba76b93fe1\"\n          }\n        ]\n      },\n
        \     {\n        \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \           \"key\": \"logged_in\",\n            \"value\": \"0\"\n          }\n
        \       ]\n      },\n      {\n        \"service\": \"ECATCHER\",\n        \"params\":
        [\n          {\n            \"key\": \"client.version\",\n            \"value\":
        \"1.20000101\"\n          },\n          {\n            \"key\": \"client.name\",\n
        \           \"value\": \"WEB_REMIX\"\n          }\n        ]\n      }\n    ],\n
        \   \"maxAgeSeconds\": 120,\n    \"responseId\": \"IhMIzav7j-2DlwMVYdlyCR01PzAF\"\n
        \ },\n  \"contents\": {\n    \"tabbedSearchResultsRenderer\": {\n      \"tabs\":
        [\n        {\n          \"tabRenderer\": {\n            \"title\": \"YT Music\",\n
        \           \"selected\": true,\n            \"content\": {\n              \"sectionListRenderer\":
        {\n                \"contents\": [\n                  {\n                    \"musicCardShelfRenderer\":
        {\n                      \"trackingParams\": \"CFoQ-5EFGAAiEwjNq_uP7YOXAxVh2XIJHTU_MAU=\",\n
        \                     \"thumbnail\": {\n                        \"musicThumbnailRenderer\":
        {\n                          \"thumbnail\": {\n                            \"thumbnails\":
        [\n                              {\n                                \"url\":
        \"https://yt3.googleusercontent.com/4bnQiW66XMQqRZJ47qH-hwlW7uKA2iHEn7m5leIrA3hKxYW93_lUZf-OaGTq2nI6ye_EE96idnNC_GYYYQ=w60-h60-l90-rj\",\n
        \                               \"width\": 60,\n                                \"height\":
        60\n                              },\n                              {\n                                \"url\":
        \"https://yt3.googleusercontent.com/4bnQiW66XMQqRZJ47qH-hwlW7uKA2iHEn7m5leIrA3hKxYW93_lUZf-OaGTq2nI6ye_EE96idnNC_GYYYQ=w120-h120-l90-rj\",\n
        \                               \"width\": 120,\n                                \"height\":
        120\n                              }\n                            ]\n                          },\n
        \                         \"thumbnailCrop\": \"MUSIC_THUMBNAIL_CROP_UNSPECIFIED\",\n
        \                         \"thumbnailScale\": \"MUSIC_THUMBNAIL_SCALE_ASPECT_FIT\",\n
        \                         \"trackingParams\": \"CG4QhL8CIhMIzav7j-2DlwMVYdlyCR01PzAF\"\n
        \                       }\n                      },\n                      \"title\":
        {\n                        \"runs\": [\n                          {\n                            \"text\":
        \"Nobody Else\",\n                            \"navigationEndpoint\": {\n
        \                             \"clickTrackingParams\": \"CFoQ-5EFGAAiEwjNq_uP7YOXAxVh2XIJHTU_MAXKAQTjmgOu\",\n
        \                             \"watchEndpoint\": {\n                                \"videoId\":
        \"DfBFg4BLmbQ\",\n                                \"watchEndpointMusicSupportedConfigs\":
        {\n                                  \"watchEndpointMusicConfig\": {\n                                    \"musicVideoType\":
        \"MUSIC_VIDEO_TYPE_ATV\"\n                                  }\n                                }\n
        \                             }\n                            }\n                          }\n
        \                       ]\n                      },\n                      \"subtitle\":
        {\n                        \"runs\": [\n                          {\n                            \"text\":
        \"Titel\"\n                          },\n                          {\n                            \"text\":
        \" \u2022 \"\n                          },\n                          {\n
        \                           \"text\": \"Abstrakt\",\n                            \"navigationEndpoint\":
        {\n                              \"clickTrackingParams\": \"CFoQ-5EFGAAiEwjNq_uP7YOXAxVh2XIJHTU_MAXKAQTjmgOu\",\n
        \                             \"browseEndpoint\": {\n                                \"browseId\":
        \"UCvUHCJJ-VU9lqllKE5IqHUQ\",\n                                \"browseEndpointContextSupportedConfigs\":
        {\n                                  \"browseEndpointContextMusicConfig\":
        {\n                                    \"pageType\": \"MUSIC_PAGE_TYPE_ARTIST\"\n
        \                                 }\n                                }\n                              }\n
        \                           }\n                          },\n                          {\n
        \                           \"text\": \" \u2022 \"\n                          },\n
        \                         {\n                            \"text\": \"2:43\"\n
        \                         }\n                        ],\n                        \"accessibility\":
        {\n                          \"accessibilityData\": {\n                            \"label\":
        \"Titel \u2022 Abstrakt \u2022 2 Minuten, 43 Sekunden\"\n                          }\n
        \                       }\n                      },\n                      \"buttons\":
        [\n                        {\n                          \"buttonRenderer\":
        {\n                            \"style\": \"STYLE_DARK_ON_WHITE\",\n                            \"size\":
        \"SIZE_DEFAULT\",\n                            \"isDisabled\": false,\n                            \"text\":
        {\n                              \"runs\": [\n                                {\n
        \                                 \"text\": \"Wiedergeben\"\n                                }\n
        \                             ]\n                            },\n                            \"icon\":
        {\n                              \"iconType\": \"PLAY_ARROW\"\n                            },\n
        \                           \"accessibility\": {\n                              \"label\":
        \"Wiedergeben\"\n                            },\n                            \"trackingParams\":
        \"CG0QlNIFGAAiEwjNq_uP7YOXAxVh2XIJHTU_MAU=\",\n                            \"accessibilityData\":
        {\n                              \"accessibilityData\": {\n                                \"label\":
        \"Wiedergeben\"\n                              }\n                            },\n
        \                           \"command\": {\n                              \"clickTrackingParams\":
        \"CG0QlNIFGAAiEwjNq_uP7YOXAxVh2XIJHTU_MAUyBnNlYXJjaFIMR0IyTEQyMjEwMDA3mgEDEPQkygEE45oDrg==\",\n
        \                             \"watchEndpoint\": {\n                                \"videoId\":
        \"DfBFg4BLmbQ\",\n                                \"params\": \"wAEB\",\n
        \                               \"watchEndpointMusicSupportedConfigs\": {\n
        \                                 \"watchEndpointMusicConf[...]
