interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://music.youtube.com/
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en\" dir=\"ltr\" dark=\"true\"><head><script
        nonce=\"733MSgrrK-Hu6bWByak8Ng\">window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({'country_code': 'US', 'gtm.start': new Date().getTime(),
        event: 'gtm.js'});</script><script async src=\"https://www.googletagmanager.com/gtm.js?id=GTM-NQNFS9\"
        nonce=\"733MSgrrK-Hu6bWByak8Ng\"></script><script nonce=\"733MSgrrK-Hu6bWByak8Ng\">var
        ytcsi={gt:function(n){n=(n||\"\")+\"data_\";return ytcsi[n]||(ytcsi[n]={tick:{},info:{},gel:{preLoggedGelInfos:[]}})},now:window.performance&&window.performance.timing&&window.performance.now&&window.performance.timing.navigationStart?function(){return
        window.performance.timing.navigationStart+window.performance.now()}:[...]
- request:
    body: '{"query": "Lost Identities Moments", "context": {"client": {"clientName":
      "WEB_REMIX", "clientVersion": "1.20260923.01.00", "hl": "de"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - CgtaTzV5Ulp0MFdZOCjWp83VBjIKCgJVUxIEGgAgU2LfAgrcAjIxLllUPUdfWFR4dnlfMXJ4cGdrYW05NFRnNGhaUk9iNXEtb3prS1lic1NCWnFHRWNjeEFSQkgzVDVmNkN3SWRmOVRDeXNNb1lHSlNrQ3djQUxOWEJZX0RxTkJPQ0liRDFReEpEaGJtTEtFcWppRjg0RE5ueFIwTE5rQUpIaTFlQnNsTl9Na1hkZjNraERNN3JoNTBobVVTYjdkUFNkNE5TN1plYy1UUWJScTgzaWNQbW8tUHJqbmVSUHR5eU9KelZuZnJZc192N0ZSTnlCcUJjVXZidS1yUFRDYzFNWENHU2MtcEJnNEtUdnV3dlZTYWFpS21IWDg5V3ZPcmpaQTlTem1pbG8yUlhjQ04yRUFuMjdSUzBUUWhHMDVSZHAtaVBMM2pnWDJFNUpEdUktd045WWpjRk1ocWlCT29IUjVnYjdsdVNDR0NVUjNYd21SdnNReF9fY2JRWDZzdw%3D%3D
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/search?alt=json
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"serviceTrackingParams\": [\n      {\n
        \       \"service\": \"CSI\",\n        \"params\": [\n          {\n            \"key\":
        \"c\",\n            \"value\": \"WEB_REMIX\"\n          },\n          {\n
        \           \"key\": \"cver\",\n            \"value\": \"1.20260923.01.00\"\n
        \         },\n          {\n            \"key\": \"yt_li\",\n            \"value\":
        \"0\"\n          },\n          {\n            \"key\": \"GetSearch_rid\",\n
        \           \"value\": \"0x5bbb6cf18dc446eb\"\n          }\n        ]\n      },\n
        \     {\n        \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \           \"key\": \"logged_in\",\n            \"value\": \"0\"\n          }\n
        \       ]\n      },\n      {\n        \"service\": \"ECATCHER\",\n        \"params\":
        [\n          {\n            \"key\": \"client.version\",\n            \"value\":
        \"1.20000101\"\n          },\n          {\n            \"key\": \"client.name\",\n
        \           \"value\": \"WEB_REMIX\"\n          }\n        ]\n      }\n    ],\n
        \   \"maxAgeSeconds\": 120,\n    \"responseId\": \"IhMI26G7kO2DlwMVnh8xBh0QPiO6\"\n
        \ },\n  \"contents\": {\n    \"tabbedSearchResultsRenderer\": {\n      \"tabs\":
        [\n        {\n          \"tabRenderer\": {\n            \"title\": \"YT Music\",\n
        \           \"selected\": true,\n            \"content\": {\n              \"sectionListRenderer\":
        {\n                \"contents\": [\n                  {\n                    \"musicCardShelfRenderer\":
        {\n                      \"trackingParams\": \"CN0CEPqRBRgAIhMI26G7kO2DlwMVnh8xBh0QPiO6\",\n
        \                     \"thumbnail\": {\n                        \"musicThumbnailRenderer\":
        {\n                          \"thumbnail\": {\n                            \"thumbnails\":
        [\n                              {\n                                \"url\":
        \"https://i.ytimg.com/vi/14CjyUYO8lE/hqdefault.jpg?sqp=-oaymwEWCJADEOEBIAQqCggAEOADGC0guwJIWg&rs=AMzJL3l5Rs_uLmFfL28lYcUI-VLvJklaqg\",\n
        \                               \"width\": 400,\n                                \"height\":
        225\n                              }\n                            ]\n                          },\n
        \                         \"thumbnailCrop\": \"MUSIC_THUMBNAIL_CROP_UNSPECIFIED\",\n
        \                         \"thumbnailScale\": \"MUSIC_THUMBNAIL_SCALE_ASPECT_FIT\",\n
        \                         \"trackingParams\": \"CO8CEIS_AiITCNuhu5Dtg5cDFZ4fMQYdED4jug==\"\n
        \                       }\n                      },\n                      \"title\":
        {\n                        \"runs\": [\n                          {\n                            \"text\":
        \"Moments\",\n                            \"navigationEndpoint\": {\n                              \"clickTrackingParams\":
        \"CN0CEPqRBRgAIhMI26G7kO2DlwMVnh8xBh0QPiO6ygEEtFHOuw==\",\n                              \"watchEndpoint\":
        {\n                                \"videoId\": \"14CjyUYO8lE\",\n                                \"watchEndpointMusicSupportedConfigs\":
        {\n                                  \"watchEndpointMusicConfig\": {\n                                    \"musicVideoType\":
        \"MUSIC_VIDEO_TYPE_OMV\"\n                                  }\n                                }\n
        \                             }\n                            }\n                          }\n
        \                       ]\n                      },\n                      \"subtitle\":
        {\n                        \"runs\": [\n                          {\n                            \"text\":
        \"Video\"\n                          },\n                          {\n                            \"text\":
        \" \u2022 \"\n                          },\n                          {\n
        \                           \"text\": \"Robbie Rosen\",\n                            \"navigationEndpoint\":
        {\n                              \"clickTrackingParams\": \"CN0CEPqRBRgAIhMI26G7kO2DlwMVnh8xBh0QPiO6ygEEtFHOuw==\",\n
        \                             \"browseEndpoint\": {\n                                \"browseId\":
        \"UCId_lo3js2UUKL4cjGZYZJw\",\n                                \"browseEndpointContextSupportedConfigs\":
        {\n                                  \"browseEndpointContextMusicConfig\":
        {\n                                    \"pageType\": \"MUSIC_PAGE_TYPE_ARTIST\"\n
        \                                 }\n                                }\n                              }\n
        \                           }\n                          },\n                          {\n
        \                           \"text\": \" und \"\n                          },\n
        \                         {\n                            \"text\": \"Lost
        Identities\",\n                            \"navigationEndpoint\": {\n         [...]
